/* 1. exercice-flex */
.exercice-flex .container {
  background: blue;
  display: flex;
  justify-content: flex-start;
}
.element-blue {
  flex-grow: 2;
}
/* 2. exercice-flex-2 */
.exercice-flex-2 .container{
  background: blue;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*3. exercice-align-content-1 */
.exercice-align-content-1 .container {
  background: blue;
  display: flex;
  align-items: center;

}
.element-pink {
  order: -1;
  flex-grow: 1;

}
/*4. exercice-align-content-2 */

/*5. exercice-align-content-3 */

/*6. exercice-flex-grow-1 */
.exercice-flex-grow-1 .container{
  background: blue;
  display: flex;
}
.element-red{
  flex-grow: 2;
}
.element-blue{
  flex-grow: 2;
}
/*7. exercice-flex-grow-2 */

/*8. exercice-flex-grow-3 */

/*9. exercice-all-in */
